<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- Smaller Title Image -->
    <a class="footer-title" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/title.png" | relative_url }}" alt="{{ site.title | escape }}" class="footer-logo">
    </a>

    <div class="footer-description">
      <p>Laboratory of Epidemiology and Public Health</p>
      <p>Yale School of Public Health</p>
      <p>New Haven, CT, USA</p>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {{ site.author | escape }}
          </li>          
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>
</footer>